<main
  class="flex flex-col min-h-screen justify-between lg:py-16 bg-[url('assets/img/background.png')] bg-contain bg-no-repeat bg-bottom">
  <header class="lg:w-full lg:top-0 lg:left-0 lg:z-30">
    <div
      class="container px-4 py-5 mx-auto space-y-4 lg:space-y-0 lg:flex lg:items-center lg:justify-between lg:space-x-10">
      <div class="flex justify-between"><a href="/" class="text-white">
          <div class="flex items-center">
            <p class="lg:text-3xl text-2xl"><strong>Rijksmuseum</strong></p>
          </div>
        </a>
      </div>
    </div>
  </header>
  <section class="lg:w-full lg:z-30 flex-1 lg:flex lg:items-start flex-col">
    <div class="container px-4 py-5 mx-auto space-y-4 lg:space-y-0 lg:flex lg:justify-between">
      <div class="flex flex-col lg:justify-center">
        <h1 class="lg:w-[46rem] lg:text-6xl md:text-4xl text-2xl text-white font-semibold lg:leading-[5rem]">
          Digital museum of Dutch arts and history
        </h1>
        <div class="flex items-center lg:mt-9 mt-7">
          <a href="/explore" class="inline-flex items-center justify-center lg:px-5 lg:py-4 px-4 py-3 border border-transparent lg:text-base text-sm font-semibold
            rounded-full transition-all duration-300 text-white bg-amber-700 hover:bg-white hover:text-black">
            EXPLORE
          </a>
          <a href="https://www.rijksmuseum.nl/en/about-us" target="_blank" class="inline-flex items-center justify-center lg:px-5 lg:py-4 px-4 py-3 lg:ml-6 ml-4 border lg:text-base text-sm font-semibold
            rounded-full transition-all duration-300 text-white hover:bg-white hover:text-black">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 lg:mr-4 mr-2" viewBox="0 0 20 20"
              fill="currentColor">
              <path
                d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
            </svg>
            ABOUT MUSEUM
          </a>
        </div>
      </div>
      <div class="flex lg:justify-end justify-center">
        <div class="w-3/3 md:w-7/12 mt-4 lg:mt-0">
          <img src="assets/img/carousel-items/carousel-{{imgIndex}}.jpg" alt="..."
            class="shadow-xl rounded-2xl max-w-full h-auto border-none" />
        </div>
      </div>
    </div>
    <div class="container px-4 mx-auto flex lg:justify-start justify-center">
      <button href="#" class="inline-flex items-center justify-center h-12 w-12 border border-transparent lg:text-base text-sm font-semibold
      rounded-full transition-all duration-300 hover:bg-white hover:text-black"
        *ngFor="let romanNumber of romanNumbers; let i = index" (click)="selectedImage(i)"
        [ngClass]="{'ml-4': romanNumber !== 'I', 'bg-white text-black': i === imgIndex, 'bg-amber-700 text-white': i !== imgIndex}">
        {{romanNumber}}
      </button>
    </div>
  </section>
  <div
    class="lg:absolute lg:bottom-14 lg:right-14 fixed right-5 bottom-2 p-3 max-w-md mx-auto bg-white rounded-full shadow-lg flex items-center space-x-4 z-40"
    [ngClass]="{'hidden': !isAlertVisible}">
    <div class="shrink-0">
      <img class="h-12" src="assets/img/oculus-rift.png" alt="ChitChat Logo">
    </div>
    <div>
      <p class="text-slate-500 font-medium">Coming soon <strong class="text-black font-semibold">Oculus Rift</strong>
      </p>
    </div>
    <button href="#" class="inline-flex items-center justify-center border text-sm px-4 py-3 font-semibold
    rounded-full transition-all duration-300 text-white bg-amber-700 hover:bg-white hover:text-black"
      (click)="toggleAlert()">
      OK
    </button>
  </div>
</main>
